version: '3'
services:
  postgres:
    image: postgres
    volumes:
      - dbdata:/var/lib/postgres/data
    ports:
      - 5432:5432/tcp
    environment:
      POSTGRES_PASSWORD: 123
  web:
    build: .
    command: npm run dev
    volumes:
      - .:/usr/app
      - /usr/app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
      DB_USER: 'postgres'
      DB_NAME: 'postgres'
      DB_PASS: 123
      DB_PORT: 5432
      JWT_SECRET: coolstory
volumes:
  dbdata: